.logo {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 12px;
}

.icon {
  font-size: 24px;
  color: var(--color-primary);
}

.text {
  color: #101828;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}

.logoLight .icon {
  color: #fff;
}

.logoLight .text {
  color: #fff;
} 